{% extends "base.html" %}
{% load staticfiles %}
{% block body_title %}
Categories
{% endblock %}
{% block mainbody %}
    <div class="container">
      <!-- Top Navigation -->
      <header class="codrops-header">
      </header>
      <section id="grid" class="grid clearfix">
      {% for category in categories %}
        <a href="{% url 'sub-categories' %}?category_id={{category.id}}" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
          <figure>
            <img src="{% static 'img/1.png' %}" style="height: 250px;" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z "/></svg>
            <figcaption>
              <h2>{{ category.name }}</h2>
              <button>View SubCategories</button>
            </figcaption>
          </figure>
        </a>{% endfor %}
      </section>
    </div><!-- /container -->
{% endblock %}